DEFAULT_STORAGE_CLASS="gp3-csi"
DEFAULT_ACCESSMODES="ReadWriteOnce"
KUBEFLOW_ENDPOINT="https://ds-pipeline-dspa-risk-credit-scoring.apps.cluster-tdvxn.tdvxn.sandbox2917.opentlc.com"
BEARER_TOKEN="sha256~7TbuA3KwNmWmZxAa6fcv2FNEqF51iOAJM0w0kDc1eQQ" # oc whoami --show-token
